/* common style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#container-all {
  margin: 100px 0;
}

body {
  background-color: #f8fafc;
}

#section {
  margin: 0 40px;
}

#hero-section {
  margin: 0 10px;
}

/* Header */
.logo {
  color: #3f85f6;
}

.nav-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 16px 24px;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-items li {
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 0.8rem;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

/* Hero */

.hero-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  background: linear-gradient(to right, #686bb6, #3b196e);
  padding: 80px 100px;
  height: 600px;
}

.profile-image {
  width: 400px;
  height: auto;
  border-radius: 50%;
  border: 8px solid #6e5ea0;
}

.profile-image-container {
  justify-self: center;
}

.hero-message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-message h1 {
  font-size: 2.5rem;
  color: white;
}

.btn {
  padding: 1rem;
  border-radius: 50px;
  margin: 5px;
  font-size: 1rem;
  border: 2px solid white;
}

.btn-group a {
  text-decoration: none;
}

.btn-service-color {
  color: white;
  background: none;
}

.btn-hire-color {
  color: #3f85f6;
}

span {
  color: #e4b139;
}

.des {
  color: white;
  line-height: 2;
}

h1 span {
  line-height: 1.6;
}

.hero-article {
  color: white;
}

/* about  */
.sub-headings {
  text-align: center;
  margin: 30px 0;
}

.sub-headings::after {
  content: "";
  display: block;
  width: 100px;
  height: 6px;
  background: linear-gradient(to right, #686bb6, #3b196e);
  margin: 5px auto 0 auto;
  border-radius: 5px;
}

.about-me-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}

.article p {
  margin-bottom: 20px;
  line-height: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  place-content: center;
}

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 190px;
  height: 200px;
  background-color: #3c1b70;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.about-card > p:first-child {
  font-weight: 900;
  font-size: 2rem;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.skill-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 2rem;
  text-align: left;
  line-height: 1.6rem;
}

.skill-icon {
  font-size: 3rem;
  color: #3c1b70;
  margin-bottom: 1rem;
}

.progress-bar {
  position: relative;
  width: 100%;
  background-color: #9ba7b4;
  height: 10px;
  border-radius: 5px;
}

.progress-fill {
  position: absolute;

  background-color: #3c1b70;
  height: 10px;
  border-radius: 5px;
}

/* Experiance timeline */

.timeline-item {
  display: flex;
  position: relative;
}

.timeline-item:nth-child(odd) {
  flex-direction: row;
}

.timeline-item:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline {
  position: relative;
}

.timeline-dot{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3c1b70;
  left: 50%;
  transform: translate(-50%);
  border: 5px solid white;
  box-shadow: 0 0 0 5px #3c1b70;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 2px;
  height: 100%;
  background-color: rgb(28, 49, 235);
}

.timeline-content {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 2rem;
  text-align: left;
  line-height: 1.6rem;
  width: 45%;
  margin: px;
}

/* service item */

.service-item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 2rem;
  text-align: center;
  line-height: 1.6rem;
}

.service-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

/* latest blog */

.blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.blog-item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  height: 400px;
  text-align: center;
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #3c1b70;
  overflow: hidden;
}

.blog-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

.blog-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  background-color: white;
}

.readmore {
  padding: 10px;
  font-weight: 600;
  text-decoration: none;
}

.touch-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  gap: 50px;
}

.contact-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  gap: 10px;
}

.form-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  padding: 100px;
}

.form-items input,
textarea {
  width: 100%;
  border-radius: 10px;
}

textarea {
  height: 100px;
  border: none;
}

input {
  height: 50px;
}

.contact-btn {
  border-radius: 50px;
  border: none;
  height: 50px;
  color: #3f85f6;
  font-weight: 600;
  background-color: white;
}

label {
  font-weight: 600;
}

[placeholder] {
  padding: 10px;
}

input,
textarea {
  border: #9ba7b4 1px solid;
}

footer {
  background-color: #3c1b70;
  text-align: center;
  padding: 30px;
  line-height: 30px;
  color: white;
}

.social-meadia {
  text-align: center;
  padding: 50px;
}

.social-meadia button {
  font-size: 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  border: none;
}
