/* common style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  
 
}

body{
   background-color: #F8FAFC;
}

#section{
  margin: 0 40px;
  
}

#hero-section{
  margin: 0 10px;
}


/* Header */
.logo {
  color: #3f85f6;
}



.nav-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 24px;
  
}

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-items li {
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 0.8rem;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}


/* Hero */



.hero-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  background: linear-gradient(to right, #686bb6, #3b196e);
  padding: 80px 100px;
}

.profile-image {
  width: 400px;
  height: auto;
  border-radius: 50%;
  border: 8px solid #6e5ea0;
}

.profile-image-container {
  justify-self: center;
}

.hero-message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

 
}


.hero-message h1 {
  font-size: 2.5rem;
  color: white;
}


.btn {
  padding: 1rem;
  border-radius: 50px;
  margin: 5px;
  font-size: 1rem;
  border: 2px solid white;
}

.btn-group a {
  text-decoration: none;
}

.btn-service-color {
  color: white;
  background: none;
}

.btn-hire-color {
  color: #3f85f6;
}

span {
  color: #e4b139;
}

.des {
  color: white;
  line-height: 2;
}

h1 span {
  line-height: 1.6;
}

.hero-article{
  color: white;
  
}

/* about  */
.sub-headings{
  text-align: center;
  margin: 30px 0;
}

.sub-headings::after{
  content: '';
  display: block;
  width:100px;
  height: 6px;
  background: linear-gradient(to right, #686bb6, #3b196e);
  margin: 5px auto 0 auto;
  border-radius: 5px;

}



.about-me-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;

}

.article p{
  margin-bottom: 20px;
  line-height: 2rem;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  place-content: center;
}

.about-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 190px;
  height: 200px;
  background-color: #3C1B70;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 1rem;
 
}

.about-card > p:first-child{
  font-weight: 900;
   font-size: 2rem;
}

.skill-container{
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;

  
}

.skill-card{
  width: auto;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 2rem;
  text-align: left;
  line-height: 1.6rem;
  
}

.skil-icon{
  font-size: 3rem;
  color: #3C1B70;
  margin-bottom: 1rem;
}

.progress-bar{
  position: relative;
  width: 100%;
  background-color: #9ba7b4;
  height: 10px;
  border-radius: 5px;
}

.progress-fill{
  position: absolute;

  background-color: #3C1B70;
  height: 10px;
  border-radius: 5px;

}

.timeline-container{
  position: relative;
}

.timeline-container::after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 2px;
  height: 100%;
  background-color: rgb(28, 49, 235);
}

.timeline-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  height:700px;
}

.time-card{
  width: auto;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 2rem;
  text-align: left;
  line-height: 1.6rem;
}

.time-card-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.time-card-right{
  display: flex;
  align-self: center;
}

